body {
  margin-top: 30px !important;
  margin-bottom: 90px !important;
}

.navbar-brand img {
  height: 28px;
}

table.dataTable.collapsed>tbody>tr {
  cursor: pointer;
}
table.dataTable>tbody>tr.child ul.dtr-details {
  display: block;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
  text-align: left !important;
}
table.dataTable.collapsed>tbody>tr>td.dtr-control,
table.dataTable.collapsed>tbody>tr>th.dtr-control {
  padding-top: .75rem !important;
}

#my-addresses-table input:focus {
  box-shadow: none;
  outline: 0;
}

#address-qrcode img,
#new-address-qrcode img {
  margin-left: auto;
  margin-right: auto;
}

.swal2-title {
  word-break: break-word;
  display: block !important;
}
.swal2-top-end {
  max-width: 33%;
}

.visible-sr {
  display: none !important;
}

.hidden-sr {
  display: flex;
}

@media (max-width:991px) {
  .visible-sr {
    display: inline-flex !important;
  }

  .hidden-sr {
    display: none;
  }
}

.nav-pills .nav-link {
  filter: saturate(0);
}
.nav-pills .nav-link.selected {
  filter: saturate(1);
}
.nav-pills .nav-link i {
  transform: scale(1.5);
}
