html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

header {
  margin-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.navbar-brand img {
  height: 28px;
}

.card {
  width: max-content;
}
.card-full {
  width: 100%;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  display: block;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
  text-align: left !important;
}

#my-addresses-table input:focus {
  box-shadow: none;
  outline: 0;
}

#address-qrcode img,
#new-address-qrcode img {
  margin-left: auto;
  margin-right: auto;
}

.swal2-title {
  word-break: break-word;
  display: block !important;
}
.swal2-top-end {
  max-width: 33%;
}

.visible-sr {
  display: none !important;
}

.hidden-sr {
  display: flex;
}

@media (max-width:991px) {
  .visible-sr {
    display: inline-flex !important;
  }

  .hidden-sr {
    display: none;
  }
}

#mobile-menu .list-group  {
  width: 100%;
}

.footer .btn {
  font-size: 26px;
  /* width: 40px; */
  /* height: 40px; */
  /* padding: .25rem .4rem; */
}
.footer .btn .icon {
  line-height: 32px !important;
}
